.form-section-contactus {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

}

.contact_heading {
  color: black;
}

.centered-form {
  margin: 0 auto;
  margin-top: 100px;
  
}




.form-contact {
  display: flex;
  flex-direction: column;
 

}

.form-contact {
  align-items: center;
 
}

label {
    color: black;
    margin-right: 430px;
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: left;

}

.input-contact {
  border: solid 1px;
  border-color: #495567;
  height: 30px;
  width: 500px;
  border-radius: 5px;
  margin-bottom: 20px;
  
}

.input-button:hover {
  background-color: #EA4C89;
 
}

.input-button {
  height: 60px;
  width: 258px;
  font-size: 18px;
  border-radius: 100px;
  background-color: #000000;
  color: #ffffff;
  border: none;
}

.msg-input {
  height: 100px;
}

.contact-us-header {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 4.166666507720947px;
    text-align: center;
    color: balc;

}

.result-msg {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    color: black;
}

.background-image {
    height: 100vh;
}

@media only screen and (max-width: 500px) {

  .contact-us-header {
    font-size: 25px;

}

.input-contact {
 
  width: 258px;

  
}

label {
  
  position: relative;
  left: 130px;
  color: white;

}

.result-msg {
  color: white;
}
  

}