
.grid-wrapper {
    display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 50px;
    
}

.grid-section {
    
    display: flex;
    justify-content: center;

}

.grid-image {
    margin: 10px;
    height: 340px;
}

.grid-image-right {
    margin-top: 100px;
}


.grid-image-left {
    margin-top: -80px;
}


.container {
  position: relative;
  width: 100%;
  height: 80%;
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(213, 18, 161);
  
}

.overlay-right {
    top: 86px;
}

.container:hover .overlay {
  opacity: .8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}