.body-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 100px;
    width: 100%;
    
}

.community-h1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}