.background {
    max-width: 100%;
}

.footer_image {
    height: 150px;
    
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.copy_right {
    font-size: 15px;
}

a { text-decoration: none; color:rgb(0, 0, 0); }



@media only screen and (max-width: 500px) {
    .footer-wrapper {
        display: flex;
        flex-direction: column;
    }


    .copy_right {
        font-size: 10px;
    }
  


}